@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .clicked {
    @apply p-1 text-white border-b-4 border-white;
  }

  .gradient-border {
    border-radius: 0.15rem;
    position: relative;
    background: #1d1f20;
  }

  .gradient-border:after {
    content: "";
    height: calc(100% + 0.15rem * 3);
    width: calc(100% + 0.15rem * 3);
    background: linear-gradient(
      60deg,
      #f79533,
      #f37055,
      #ef4e7b,
      #a166ab,
      #5073b8,
      #1098ad,
      #07b39b,
      #6fba82
    );
    background-size: 300% 300%;
    position: absolute;
    z-index: -1;
    border-radius: 0.15rem;
    animation: animationGradient 3s ease alternate infinite;
  }

  @keyframes animationGradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 50% 100%;
    }
    100% {
      background-position: 100% 0%;
    }
  }
  .calc {
    height: calc(100vh - 20%);
    background: blue;
  }
  .bonces {
    animation: bounce 1.5s ease-in-out infinite;
  }
  @keyframes bounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.4);
    }
    100% {
      transform: scale(1);
    }
  }
}
